<div class="container">
  <app-header></app-header>
  <h1> try </h1>

  <h3>Test Two Way Binding</h3>
  <p>hero name : {{Name}}</p>
  <p>hero Power : {{Power}}</p>
  <img src="{{Img}}">
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="form-group col-3">
      <label class="form-label">Hero Name</label> 
      <input type="text" [(ngModel)]="Name" class="form-control">
    </div>
    <div class="form-group col-3">
      <label class="form-label">Hero Power</label> 
      <input type="text" [(ngModel)]="Power" class="form-control">
    </div>
    <div class="form-group col-3">
      <label class="form-label">Hero Image</label> 
      <input type="text" [(ngModel)]="Img" class="form-control">
    </div>
    <div class="form-group col-3 content-center">
      <button class="btn btn-primary" (click)="AddHero()">Add</button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let i of Heros" class="card col-3">
      <div class="cadr-header">{{i.hName}}</div>
      <img src="{{i.hImage}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Heros Power</h5>
    <p class="card-text">{{i.hPower}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-danger" (click)="DelHero(i.hId)">Delete</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
